.detail {
  .content {
    h3 {
      font-family: Poppins;
      font-size: 35px;
      font-weight: 600;
      line-height: 52.5px;
      text-align: center;
      color: #22262a;
      padding: 77px 0 83px;
    }
  }
}
