.detailWrapper {
  .cards {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    padding: 56px 0;

    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      flex-direction: column;
      img {
        max-width: 375px;
        width: 100%;
        height: 271px;
        object-fit: contain;
      }
      .img__content {
        display: flex;
        align-items: center;
        gap: 5px;
        .imgg {
          transition: 0.3s;
          max-width: 75px;
          max-height: 75px;
          // padding: 5px;
        }
      }

      .imgg:hover {
        border: 1px solid #03a9f4;
      }
    }
    .cart {
      h3 {
        max-width: 450px;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        text-align: left;

        color: #22262a;
      }
      .price {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 700;
        line-height: 32.4px;
        letter-spacing: 0.5px;
        text-align: left;
        color: #33a0ff;
        del {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.5px;
          text-align: left;
          color: #9098b1;
        }
        b {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 700;
          line-height: 21px;
          letter-spacing: 0.5px;
          text-align: left;
          color: #fb7181;
        }
      }
      .star {
        padding: 26px 0 21px;
        b {
          font-family: Proxima Nova;
          font-size: 16px;
          font-weight: 400;
          line-height: 19.49px;
          text-align: left;
          color: #c1c8ce;
          padding-left: 12px;
        }
        .submit_text {
          color: #33a0ff;
        }
      }
      .info_detail {
        padding: 25px 0;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        flex-direction: column;
        border-bottom: 2px solid #acacac53;
        span {
          width: 270px;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 21px;
          text-align: left;
          color: #262626;
          b {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            line-height: 21px;
            text-align: left;
            color: #262626;
            text-transform: capitalize;
          }
        }
      }
      .color {
        width: 300px;
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: space-between;
        padding: 22px 0;
        h4 {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #262626;
        }
        .color__btns {
          display: flex;
          align-items: center;
          gap: 5px;
          .color__btn {
            width: 26px;
            height: 27px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.1s;
            &:active {
              border: 3px solid #fff;
            }
          }
          .blue {
            background: blue;
          }
          .red {
            background: red;
          }
          .black {
            background: black;
          }
          .yellow {
            background: yellow;
          }
        }
      }
      .size {
        display: flex;
        align-items: center;
        gap: 40px;
        border-bottom: 2px solid #ddd;
        padding-bottom: 56px;
        // justify-content: space-between;
        // padding: 22px 0;
        h4 {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #262626;
        }
        select {
          border: 1px solid #ddd;
          padding: 5px 15px;
          border-radius: 8px;
          margin-left: 110px;
          cursor: pointer;
          background: transparent;
        }
      }
      .btns {
        padding-top: 24px;
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 2px solid #ddd;
        padding-bottom: 40px;

        .count {
          width: 300px;
          button {
            padding: 10px;
            font-size: 20px;
            font-family: Poppins;
            border: 1px solid #ddd;
          }
          span {
            padding: 0px 15px;
          }
        }
        .btn {
          display: flex;
          align-items: center;
          gap: 12px;
          button {
            display: flex;
            align-items: center;
            gap: 5px;
            font-family: Proxima Nova;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.49px;
            text-align: left;
            color: #33a0ff;
            background: #33a0ff4b;
            padding: 14px;
            border-radius: 8px;
          }
        }
      }
      .links {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        flex-wrap: wrap;
        padding-top: 32px;
        a {
          border-radius: 12px;
        }
        .facebook {
          background: #385c8e;
          color: #fff !important;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: center;
          padding: 13px;
          display: flex;
          align-items: center;
          gap: 5px;
          // width: 100%;
        }
        .twitter {
          // width: 100%;
          display: flex;
          align-items: center;
          gap: 5px;
          background: #03a9f4;
          color: #fff !important;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          padding: 13px;
          line-height: 24px;
          text-align: center;
        }
      }
    }
    .second_cart {
      border: 1px solid #ddd;
      padding: 15px;
      border-radius: 12px;

      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 16px;
      flex-direction: column;

      h3 {
        font-family: Proxima Nova;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.92px;
        text-align: left;
        color: #c1c8ce;
        padding-bottom: 34px;
      }

      img {
        width: 100%;
        object-fit: contain;
      }
      p {
        padding: 52px 0 23px;
        text-align: center;
        padding-left: 30%;
      }
      span {
        padding-left: 30%;
        font-family: Proxima Nova;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.49px;
        text-align: center;
        color: #fb7181;
        display: flex;
        align-items: center;
        gap: 8px;
        del {
          font-family: Proxima Nova;
          font-size: 16px;
          font-weight: 400;
          line-height: 19.49px;
          text-align: center;
          color: #c1c8ce;
        }
      }
    }
  }
  @media only screen and (max-width: 888px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
}
