.header__top {
  padding: 10px 0;
  border-bottom: 2px solid #cccccc2c;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    .top__btns {
      display: flex;
      align-items: center;
      gap: 32px;
      a {
        position: relative;
        color: #262626;
        svg {
          font-size: 25px;
        }
        .count {
          position: absolute;
          top: -7px;
          right: -10px;
          background: #ff4858;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          //styleName: Caption/normalbold;
          font-family: Poppins;
          font-size: 10px;
          font-weight: 700;
          text-align: center;
        }
      }
      p {
        font-family: Proxima Nova;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.36px;
        text-align: left;
        color: #262626;
      }
    }
  }
  @media only screen and (max-width: 565px) {
    .content {
      position: relative;
      .top__btns {
        position: fixed;
        background: #fff;
        padding: 20px 10px;
        justify-content: space-between;
        bottom: 0;
        left: 0;
        width: 100%;
        gap: 5px;
        z-index: 100;
        border-top: 2px solid #ddd;
        border-radius: 16px 16px 0 0;
        a {
          svg {
            font-size: 20px;
          }
        }
        p {
          display: none;
        }
        .search {
          font-size: 20px;
        }
      }
    }
  }
}
.navbar {
  //   background: dodgerblue;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s;
  background: #fff;
  z-index: 100;
  &.shrink {
    // background: palevioletred;
    box-shadow: 3px 3px 5px rgba(132, 132, 132, 0.2);
    nav {
      height: 55px;
    }
  }
  nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    .logo {
      width: 140px;
      height: 40px;
    }
    .nav__items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;
      a {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        text-align: left;
        color: #262626;
        transition: 0.2s;
        &:hover {
          color: #40bfff;
        }
      }
    }
  }
  @media only screen and (max-width: 666px) {
    nav {
      .nav__items {
        display: none;
      }
    }
  }
}
